.buttonContainer {
    margin-top:100px;
    width: 100%;
    display:flex;
    flex-direction: row;
    justify-content: center;
}

.buttonContainer button {
    background: none;
    background-image: radial-gradient(closest-side at 50% 95%, white 5%, black 40%);
    border:none;
    padding: 3px 5px;
    cursor: pointer;
    margin: 10px;
}

.buttonContainer button:hover {
    background-image: radial-gradient(closest-side at 50% 95%, white 10%, black 70%);
}