.imageSlideContainer {
    width: 100%;
    height: 100%;
}

.images {
    position:relative;
    width: 100%;
    height: 100%;
}

.image {
    position:absolute;
    width: 100%;
    height: 100%;
    background-size: contain;
    display: none;
}

.controls {
    width: 100%;
    height: 100%;
    place-items: center;
    display:flex;
    position:absolute;
    z-index: 1;
    justify-content: space-between;
    padding: 5px;
}

.controls button {
    padding: 5px 7px;
    background: none;
    outline: none;
    inset: 0;
    border: 0;
    transition: background-color 0.3s;
}

.controls button:hover {
    background-color: var(--background);
}

.shown {
    display: block;
}

.imageText {
    position: absolute;
    bottom: 0;
    left: 30px;
    text-shadow: 2px 2px 3px var(--background);
    padding: 5px;
}